GOOGLE_CLIENT_ID="appcode.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="appsecretcode"
HOST="app.url.com"
PORT=443
SSL_KEY='./.key'
SSL_CRT='./.crt'
LOG_CONNECTIONS="/relative/path/to/session.log"
LOG_SESSION="/relative/path/to/session.log"